body{
    font-family:UberMoveBol;
}
.head{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.navdiv{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-left: 30px;
    padding: 18px;
   
    
}

.navdiv ul{
    margin-top: 0;

    
}
.uberlogo img{
    width: 100px;   
    margin-left: 15.2px;

}
.uberlogo svg{
    
    color: rgb(15, 15, 15);
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    font-size:2px;
    font-family: 'UberMoveBold';
    src: url(font/UberMoveBold.otf);
    margin-left: -19px;
}
.navdiv li{
    display: inline-block;  
    
}
.third img{
    width: 1em;
}

.navdiv li a{
    text-decoration: none;
    padding: 1em;
   
}

.uberlogo a{
    text-decoration: none;
    
    
}
.navdiv li .in{
    box-sizing: border-box;
    border: 1px solid rgb(248, 248, 248);
    background: white;
    color: black;
    border-radius: 40%;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    
   
}
.navdiv li .up{
    box-sizing: border-box;
    border: 1px solid black;
    background: black;
    color: white;
    border-radius: 40%;
    margin-right: 2em;
    margin-left: 1em;
    font-size: small;
   
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif
}
.uberlogo a{
    color: black;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

    
}
.uberlogo a span{
    font-weight:500;
    font-size: 1.2em;
    height:9px ;
}
@font-face{
    font-family: UberMoveBold;
    src: url(font/UberMoveBold.otf);
}
.insert{
    position:absolute;
    top: 36.7%;
    z-index: 1;
    left: 2.5em;
    font-family:'UberMoveBold';
}
.insert h1{
    display: block;
    margin-block-start: 0.65em;
    margin-block-end: .40em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    font-weight: 700;
    font-size: 56px;
    font-family: 'UberMoveBold';
    src: url(font/UberMoveBold.otf);
    text-size-adjust: 100%;
    line-height: 64px;

    
    
}
.sticky input{
    box-sizing: border-box;
    border: 2px solid transparent;
    margin: 0.2em;
    padding: 1.3em;
    width: 36em;
    
}
.text input{
    box-sizing: border-box;
    border: 1px solid transparent;
    margin: 0.4em;
    padding: 1.3em;
    width: 12.5em;

}
.input{
    display: flex;
    margin: 0.2em;
}
.sticky ::placeholder{
    font-size: 1.3em;
    padding: 40px;
    font-weight: 550;
}
.text ::placeholder{
    font-size: 1.2em;
    font-weight: bolder;
    color: black;
    padding: 30px;
}
.search a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    
    
}
.button{
    margin-left: 0.1em;
}
.button button{
    box-sizing: border-box;
    border: 1px solid transparent;
    background: black;
    padding: 1.4em;
    border-radius: 10%;
    width: 11em;
   
}
.or{
    margin: 0.8em;
    font-weight: 600;
}
.or a{
    
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.banner{
    width: 90%;
}
.restaurant .flex{
    display:flex;
    position:absolute;
    top: 100%;
    
}
.flex li {
    width: 100%;
    margin-top: 10em;
    list-style-type: none;
      
}
.flex h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    margin-top: 0;
    margin-bottom: 0.2em;
}
.flex a{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.link{
    font-size: larger;
    
}
#near{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 2em;
    
    
}
.main{
    position: absolute;
    top: 170%;
}
.nearest{
    display: flex;
    justify-content: space-between;
}
.all a{
    top: 2em;
}
.view{
    margin-left: 2em;
}
#map img{
    background: skyblue;
    width: 108em;
    height: 30em;

}
.cities h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.1em;
    margin-bottom: 1.4em;
   
}
.all {
    margin-top: 2em;
    
}
.all a{
    color: black;
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#near div{
    margin: 0.7em;
    font-size: 1.02em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}
#country{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 2em;
}

.country{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}
.headings h2{
    margin: 1em;
    font-size: 2.5em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.country a{
    color: black;
    font-size:1.2em ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}
#country div{
    margin: 0.7em;
    font-size: 1.02em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.images div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 12em;
}
.uber{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.uber h1{
    font-weight: 400;
    font-size: xx-large;
}
.uber h1 span{
    font-weight: 600;
}
.final img{width: 1em;}
.eats{
    display: flex;
    justify-content:space-around;
    align-items: center;
}